/*
 * Variable definitions
 */

:root {
    /* Colours */

    /* PXG palette colours */

    /* "Jet" */
    --clr-pxg-dark: #2d2c2d;
    /* "Cinnabar" */
    --clr-pxg-red: #f1372a;
    /* "Yellow Orange Color Wheel */
    --clr-pxg-orange: #f8951d;
    /* "Cultured" */
    --clr-pxg-light: #eaebee;
    /* "Rich Black FOGRA 39" */
    --clr-pxg-black: #0a0a0a;

    /* Font colours */
    --clr-font-dark: var(--clr-pxg-dark);
    --clr-font-light: var(--clr-pxg-light);

    /* Background colours */
    --clr-bg-dark: var(--clr-pxg-dark);
    --clr-bg-medium: #4d4c4c;
    --clr-bg-light: var(--clr-pxg-light);

    /* Highlight colours */
    --clr-hl-green: #00953f;
    --clr-hl-black: var(--clr-pxg-black);

    /* Dimensions */
    --dim-header-height: 70px;
    --dim-footer-height: 68px;
    --dim-page-narrow-width: 760px;
    --dim-page-paragraph-width: 1000px;
    --dim-page-max-width: 1600px;
    --dim-gradient-line-width: 6px;
    --dim-min-viewport-margin: 24px;
}

/*
 * Custom fonts
 */

/* Philosopher */

@font-face {
    font-family: "Philosopher";
    src: url("/fonts/philosopher/Philosopher-Regular.ttf");
}

@font-face {
    font-family: "Philosopher";
    src: url("/fonts/philosopher/Philosopher-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Philosopher";
    src: url("/fonts/philosopher/Philosopher-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Philosopher";
    src: url("/fonts/philosopher/Philosopher-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/* PT Sans */

@font-face {
    font-family: "PT Sans";
    src: url("/fonts/pt/PTSans-Regular.ttf");
}

@font-face {
    font-family: "PT Sans";
    src: url("/fonts/pt/PTSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "PT Sans";
    src: url("/fonts/pt/PTSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("/fonts/pt/PTSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/*
 * Basic page looks and typography
 */

html {
    color: var(--clr-font-light);
    background-color: var(--clr-bg-dark);
    font-family: "PT Sans", sans-serif;
    font-size: 15pt;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--clr-bg-medium);
}

a {
    color: var(--clr-pxg-orange);
    transition: color 80ms ease;
}
a:hover {
    color: var(--clr-pxg-red);
}

h1, h2, h3, h4, h5 {
    font-family: "Philosopher";
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 46pt;
    margin: 42px 0 24px;
}

h2 {
    font-size: 30pt;
    margin: 28px 20px;
}

h5 {
    font-size: 18pt;
}

/*
 * Basic element variants
 */

ul.no-bullets {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.no-bullets li {
    margin: 7px 0;
}

/*
 * Big page parts
 */

div#wrap {
    /* Make pages with little content at least as high as the viewport height. */
    min-height: calc(90vh - var(--dim-header-height) - var(--dim-footer-height) - 2*var(--dim-gradient-line-width));
}

section {
    margin: 47px auto 35px;
    width: var(--dim-page-paragraph-width);
    max-width: calc(100vw - 2*var(--dim-min-viewport-margin));
}

section.wide {
    width: var(--dim-page-max-width);
}
section.narrow {
    width: var(--dim-page-narrow-width);
}

body > h1,
body > h2,
body > h3,
body > p {
    max-width: var(--dim-page-paragraph-width);
    margin-left: auto;
    margin-right: auto;
}

/*
 * No JavaScript notice
 */

noscript {
    display: block;
    width: 100%;
    padding: 6px 0;
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
    background-color: var(--clr-pxg-red);
    color: var(--clr-font-light);
}

/*
 * Buttons
 */

button {
    display: block;
    max-width: 300px;
    font-size: 15pt;
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--clr-pxg-orange);
    /*background: linear-gradient(to right, var(--clr-pxg-orange), var(--clr-pxg-red));*/
    color: var(--clr-font-light);
    border: none;
    border-radius: 11px;
    transition: background-color 180ms ease;
    transition: color 170ms ease;
    cursor: pointer;
}
button:hover {
    background-color: var(--clr-pxg-red);
    /*background: linear-gradient(to left, var(--clr-pxg-orange), var(--clr-pxg-red));*/
    color: var(--clr-font-light);
}

button.light {
    background-color: var(--clr-pxg-light);
    color: var(--clr-font-dark);
}
button.light:hover {
    background-color: var(--clr-pxg-red);
    color: var(--clr-font-light);
}

div.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
div.button-container a {
    text-decoration: none;
}

/*
 * Header
 */

header {
    width: 100%;
    margin: 0;
    padding-bottom: var(--dim-gradient-line-width);
    background: linear-gradient(to right, var(--clr-pxg-orange), var(--clr-pxg-red));
    z-index: 10;
}

header > div#header-background {
    width: 100%;
    background-color: var(--clr-bg-dark);
}

header div#header-wrap {
    height: var(--dim-header-height);
    max-width: var(--dim-page-paragraph-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--clr-font-light);
}

header div#header-content {
    width: 100%;
    max-width: calc(100vw - 2 * var(--dim-min-viewport-margin));
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--clr-font-dark);
}

div#header-left {
}
div#header-center {
}
div#header-right {
}

header div.logo-box {
    height: var(--dim-header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
header div.logo-box a {
    display: block;
    margin: 0;
}
header div.logo-box img#pxg-logo {
    display: block;
    height: calc(var(--dim-header-height) - 2*8px);
    object-fit: contain;
}

header h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 29pt;
}

div#header-menu-button > img {
    display: block;
    height: 50px;
    width: 50px;
    margin: auto 0;
    margin-left: auto;
    object-fit: contain;
    cursor: pointer;
}

/* Alternative header behaviour for narrow screens */
@media screen and not (min-width: 500px) {
    div#header-center {
        display: none;
    }
}

/*
 * Footer
 */

footer {
    display: block;
    width: 100%;
    margin: 47px 0 0;
    padding-top: var(--dim-gradient-line-width);
    background: linear-gradient(to left, var(--clr-pxg-orange), var(--clr-pxg-red));
}

footer > div#footer-background {
    width: 100%;
    background-color: var(--clr-bg-dark);
}

div#footer-content {
    height: calc(var(--dim-footer-height) - 16px - 12px);
    max-width: var(--dim-page-paragraph-width);
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 12px;
    color: var(--clr-font-light);
    text-align: center;
}

div#footer-icons {
    max-width: calc(100vw - 2 * var(--dim-min-viewport-margin));
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div#footer-icons a {
    display: block;
    margin: 0 9px;
}

div#footer-icons img {
    display: block;
    height: 40px;
    width: 40px;
    height: calc(var(--dim-footer-height) - 16px - 12px);
    width: calc(var(--dim-footer-height) - 16px - 12px);
    object-fit: contain;
}

div#footer-icons > div#footer-icons-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

div#footer-icons > div#footer-icons-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*
 * Navigation
 */

nav#main-navigation {
    display: none;
    position: absolute;
    top: calc(var(--dim-header-height) + var(--dim-gradient-line-width));
    width: 100%;
    background: linear-gradient(to left, var(--clr-pxg-orange), var(--clr-pxg-red));
    padding-bottom: calc(var(--dim-gradient-line-width) * (3/5));
    z-index: 3;
}

div#main-nav-background {
    width: 100%;
	background: linear-gradient(to bottom, var(--clr-bg-dark), var(--clr-bg-medium));
}

div#main-nav-content {
    max-width: var(--dim-page-paragraph-width);
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    text-align: right;
    color: var(--clr-font-light);
}

div#main-nav-content div.nav-entry {
    padding: 12px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
div#main-nav-content div.nav-entry h5 {
    margin: 0;
    margin-bottom: 7px;
    font-size: 16pt;
    text-align: inherit;
}
div#main-nav-content div.nav-entry p {
    max-width: 150px;
    margin: 0;
    margin-left: auto;
    font-size: 13pt;
    text-align: inherit;
}

div#main-nav-content a {
    text-decoration: none;
    color: var(--clr-font-light);
}
div#main-nav-content a:hover {
    color: var(--clr-pxg-red);
}

div#main-nav-content div.nav-entry div.nav-text {
    margin-top: 3px;
    margin-bottom: 5px;
}
div#main-nav-content div.nav-entry div.nav-decoration {
    width: 3px;
    height: 100%;
    margin: auto 0;
    margin-left: 16px;
    background-color: var(--clr-pxg-orange);
}

/**
 * Landing page with video
 */

div#video-block {
    height: calc(100vh - var(--dim-header-height) - var(--dim-gradient-line-width));
    position: relative;
}
div#video-block video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

div#video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.45);
    text-align: center;
}

div#video-overlay h2 {
    display: block;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 48pt;
}
div#video-overlay p {
    display: block;
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 1.5;
    font-size: 16pt;
}
div#video-overlay .on-wide {
    display: inline;
}
div#video-overlay .on-narrow {
    display: none;
}

/* Smaller font size on narrow screens */
@media screen and not (min-width: 600px) {
    div#video-overlay h2 {
        font-size: 36pt;
    }

    div#video-overlay .on-wide {
        display: none;
    }
    div#video-overlay .on-narrow {
        display: inline;
    }
}

/* Feature list */

div.feature-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

div.feature-blocks > div {
    width: 240px;
    margin: 16px 12px;
    text-align: center;
}

div.feature-blocks > div img {
    display: block;
    height: 100px;
    width: 100px;
    object-fit: contain;
    margin: 0 auto;
}

/**
 * Training index page
 */

div.video-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.video-tile {
    display: inline-block;
    height: 400px;
    width: 225px;
    position: relative;
    margin: 15px 10px;
}
div.video-tile video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

div.video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.45);
    text-align: center;
    transition: background 250ms ease;
}
div.video-overlay:hover {
    background: rgba(0, 0, 0, 0.7);
}

div.video-tiles img {
    display: block;
    margin: 0 auto 26px;
    min-height: 80px;
    width: 80px;
    object-fit: contain;
}
div.video-tiles h5 {
    display: block;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 24pt;
}
div.video-tiles p {
    display: block;
    height: 0px;
    overflow: visible;
    margin-top: 0;
    font-size: 16pt;
}
div.video-tiles a {
    color: var(--clr-font-light);
}
div.video-tiles a:hover {
    color: var(--clr-font-light);
}

/* Horizontal scroll mode on mobiles */
@media only screen and (hover: none) and (pointer: coarse) and (max-width: 550px) {
    div.video-tiles {
        display: block;
        justify-content: left;
        overflow-x: scroll;
        white-space: nowrap;
        /* Reduce the effective top margin of the section. */
        margin-top: -32px;
    }

    div.video-tile {
        height: calc(16/9 * 70vw);
        max-height: calc(100vh - var(--dim-header-height) - var(--dim-footer-height) - 2*var(--dim-gradient-line-width) - 100px);
        width: 70vw;
    }

    div.video-tiles img {
        width: 25vw;
    }
    div.video-tiles h5 {
        font-size: 10vw;
    }
    div.video-tiles p {
        font-size: 6vw;
    }
}

/*
 * Content containers
 */

/* Horizontal icon container */

div.icons-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.icons-horizontal > div {
    margin: 20px;
    max-width: 220px;
    text-align: center;
}

div.icons-horizontal h5 {
    margin: 0;
}

div.icons-horizontal img {
    display: block;
    height: 80px;
    width: 80px;
    object-fit: contain;
    margin: 18px auto;
}

div.icons-horizontal p {
    margin: 10px 0;
}

/* Horizontal icon container variants */

div.icons-horizontal.wide > div {
    width: 350px;
    max-width: 90%;
}

div.icons-horizontal.big-icons img {
    height: 120px;
    width: 120px;
}

/* Text blocks */

div.text-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.text-blocks > div {
    margin: 20px 26px;
    width: 400px;
}
@media screen and not (min-width: 400px) {
    div.text-blocks > div {
        width: 90%;
    }
}

div.text-blocks h5 {
    margin: 0;
    text-align: left;
    text-transform: none;
    font-weight: bold;
}

div.text-blocks ul {
    margin: 12px 0;
    padding-left: 12px;
    list-style-type: "✚";
}
div.text-blocks li {
    list-style-type: "✚";
    margin: 7px 0;
    padding-left: 10px;
}

/* Colour blocks */

div.colour-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.colour-blocks > div {
    width: 300px;
    margin: 10px;
    background-color: var(--clr-bg-light);
    color: var(--clr-font-dark);
    border: 3px solid;
    border-color: magenta;
}
@media screen and not (min-width: 300px) {
    div.colour-blocks > div {
        width: 90%;
    }
}

div.colour-blocks > div > div.header {
    background-color: magenta;
    color: var(--clr-font-light);
    text-align: center;
    padding: 10px 14px;
}
div.colour-blocks > div > div.header h5 {
    margin: 0;
    font-weight: bold;
}
div.colour-blocks > div > div.header p {
    margin: 5px 0;
    font-weight: bold;
}

div.colour-blocks > div ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}
div.colour-blocks > div li {
    margin: 7px 0;
}

/* Colour variants of colour blocks */

div.colour-blocks > div.clr-green {
    border-color: var(--clr-hl-green);
}
div.colour-blocks > div.clr-green > div.header {
    background-color: var(--clr-hl-green);
}

div.colour-blocks > div.clr-orange {
    border-color: var(--clr-pxg-orange);
}
div.colour-blocks > div.clr-orange > div.header {
    background-color: var(--clr-pxg-orange);
}

div.colour-blocks > div.clr-red {
    border-color: var(--clr-pxg-red);
}
div.colour-blocks > div.clr-red > div.header {
    background-color: var(--clr-pxg-red);
}

div.colour-blocks > div.clr-black {
    border-color: var(--clr-pxg-black);
}
div.colour-blocks > div.clr-black > div.header {
    background-color: var(--clr-pxg-black);
}

/* Icon-text rows */

div.icon-text-rows {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

div.icon-text-rows > div {
    margin: 10px auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

div.icon-text-rows > div > img {
    display: block;
    margin: auto 0;
    margin-right: 30px;
    height: 90px;
    width: 90px;
    object-fit: contain;
}

div.icon-text-rows > div > div.text {
}

div.icon-text-rows > div > div.text h5 {
    margin: 0;
    text-transform: none;
    text-align: left;
}
div.icon-text-rows > div > div.text p {
    margin: 8px 0;
}

/* Icon-text blocks */

div.icon-text-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

div.icon-text-blocks > div {
    margin: 10px auto;
    width: 440px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}
@media screen and not (min-width: 460px) {
    div.icon-text-blocks > div {
        width: 90%;
    }
}

div.icon-text-blocks > div > img {
    display: block;
    margin: auto 0;
    margin-right: 30px;
    height: 90px;
    width: 90px;
    object-fit: contain;
}

div.icon-text-blocks > div > div.text {
}

div.icon-text-blocks > div > div.text h5 {
    margin: 0;
    margin-bottom: 9px;
    text-transform: none;
    text-align: left;
}
div.icon-text-blocks > div > div.text p {
    margin: 8px 0;
}

/* Banner boxes */

div.banner-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

div.banner-container > div {
    display: inline-block;
    margin: 8px auto;
    padding: 12px 18px;
    color: var(--clr-font-light);
    background-color: magenta;
    font-weight: bold;
}

div.banner-container div.clr-red {
    background-color: var(--clr-pxg-red);
}

/* Training topic blocks */

div.training-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.training-blocks > div {
    width: 240px;
    margin: 20px 14px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
div.training-blocks > div img {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    object-fit: contain;
}
div.training-blocks > div h5 {
    display: block;
    margin: 15px 0 0;
}
div.training-blocks > div p {
    display: block;
    margin: 8px 0 0;
}

/*
 * Figures
 */

figure {
    max-width: 90%;
    margin: 24px auto;
}

figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

figure figcaption {
    margin: 14px 10px 24px;
    text-align: center;
    font-style: italic;
}

figure.limited-height img {
    max-height: 70vh;
}

@media screen and (min-width: 500px) {
    figure.size-400 img {
        max-height: 400px;
        max-width: 400px;
    }
}

/*
 * Tables
 */

/* Dictionary table */

table.dictionary {
    max-width: 85%;
    margin: 0 auto;
}

table.dictionary td {
    padding: 6px 8px;
}

table.dictionary > tbody > tr > td:first-child {
    font-weight: bold;
    text-align: right;
}

/*
 * Embedded objects
 */

/* YouTube video */

iframe.emb-yt {
    display: block;
    margin: 0 auto;
    max-width: 90vw;
}
